<%= form_with(model: notification) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, style: "width: 100%"%>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description%>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, style: "width: 100%"%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
