  <% if !notification.seen %>
    </b>
  <% end %>
  <td>
    <%= User.find(notification.user_id).email%>
  </td>
  <td>
    <%= notification.email%>
  </td>
  <td>
    <%= notification.title %>
  </td>
  <td>
    <%= time_tag notification.created_at, "data-local":"time-ago" %>
  </td>
  <td>
    <% if notification.seen %>
      <%= "Read" %>
    <% else %>
      <%= "Unread" %>
      </b>
    <% end %>
  </td>