<!DOCTYPE html>
<html>
  <head>
    <title>Notification Center</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if current_user %>
        Logged in as<b><%= " admin" if current_user.is_admin%></b>: <i><%= current_user.email %></i>
        <%= button_to "Sign out", destroy_user_session_path, form: {style: 'display:inline-block;'}, method: :delete%>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class:"nav-link"%>
        or
        <%= link_to "Login", new_user_session_path, class:"nav-link" %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
